# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Environment
.env
.env.local

# Next.js
.next/
out/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific overrides
REQUIREMENTS.md
ARCHITECTURE.md
*.jpg
*.jpeg
certificates
A_Z_medicines_dataset_of_India.csv
further_implement.md